header {
  width: 100vw;
  height: 13vh;
  position: absolute;
  /* background-color: #B8336A; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* padding: 0px 25px; */
}

.header-icon {
  height: 60px;
  width: 90px;
  border-radius: 47%;
  position: absolute;
  left: 25px;
}

.header-alert {
  position: absolute;
  right: 15px;
  color: white;
}

.main-body {
  height: 95vh;
  width: 100vw;
  padding-top: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 5%), 
  rgba(25, 45, 65) 95%), url("../imgs/main-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middle-sections {
  height: 100%;
  width: 30%;
  background-color: rgb(255, 236, 173, 35%);
  border-radius: 40px;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(255, 192, 203, 50%); */
}

.lemonade-display {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lemonade-pic {
  height: 225px;
  width: 175px;
  border-radius: 45%;
}

.main-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}

.main-middle-text {
  height: 45%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.lemonade-icon {
  height: 225px;
  width: 350px;
  background: #EBEBEB;
  border-radius: 45%;
  margin-bottom: 30px;
}

.county-pics {
  /* height: 200px; */
  width: 35%;
}

.bottom-body {
  width: 100vw;
  height: 115vh;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom, rgba(25, 45, 65) 5%, #148CFF 94%);
  padding: 30px 0px 10px;
}

.bottom-sections {
  width: 47%;
  height: 97%;
  border-radius: 25px;
  padding-top: 5px;
  background-color: rgb(255, 170, 190, 85%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#book-us {
  width: 49%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.booking-form {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

label {
  margin-right: 10px;
}

#booked-dates-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: pink; */
}

.calendar-stuff {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.calendar-legend {
  /* width: 60%; */
  display: flex;
  padding: 0px 30px;
  /* justify-content: space-evenly; */
}

.change-calendar {
  width: 100px;
}

.legend-block {
  height: 14px;
  width: 14px;
  margin: 0px 10px 0px 5px;
  border: 1px solid black;
}

.open {
  background-color: #F2F2F2;
}

.pending {
  background-color: yellow;
}

.booked {
  background-color: blue;
  color: white;
}

.day-schedule {
  width: 100%;
}

.calendar {
  margin: 15px 0px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: purple; */
}

.calendar-spacer {
  width: 14.2%;
  height: 75px;
}

.days {
  width: 14.2%;
  height: 90px;
  padding-bottom: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #F2F2F2;
}

.review-section {
  height: 75%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 10px 15px;
  overflow-y: auto;
}

#overall-rating {
  margin: 10px 0px;
  padding: 15px 0px;
  height: 50px;
  /* text-align: center; */
  /* background-color: red; */
}

.review {
  max-height: 150px;
  width: 48%;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.review-title {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.review-info {
  margin-bottom: 5px;
}

.review-form {
  height: 25%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-form-inputs {
  height: 70%;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-inputs-small {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#rating-buttons {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#review-form-note {
  height: 85%;
  width: 300px;
}

footer {
  /* position: absolute;
  bottom: 0px; */
  width: 100vw;
  height: 10vh;
  background-color: rgb(255, 170, 190);
  /* color: white; */
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: larger;
}

.footer-links {
  margin-left: 25px;
}